<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.FFS" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="13" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="FFS.Android">
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAcJdyCvJFFW8bn_Dtflp9On9El2abs_LQ" />
  </application>
</manifest>